@page
@model ErrorModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["Page.Title"]</h1>
<p>
    @Localizer["Page.Line1"]
    <br />@Localizer["Page.Line2"]
    <br /><strong>@Localizer["Page.Line3"]</strong>
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to the <strong>Development</strong> environment will display detailed information about the error that occurred.
</p>
<p>
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
