@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Mvc.Localization
@inject IConfiguration Configuration
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Model.dayOfWeek;
}

<meta http-equiv="refresh" content="300">

<div class="text-center">
    @if (Model.dateOfYear != null)
    {
        <h1 class="display-4"><strong>@Model.dayOfWeek</strong>, @Model.dayOfMonth</h1>
        <p>@Configuration["Board:Heading"] @Localizer["Helper.ForDate"] @Model.dateOfYear</p>
    }
    else
    {
        <h1 class="text-danger">@Localizer["Inactive.Title"]</h1>
        <p class="text-danger">@Localizer["Inactive.Description"]</p>
    }
</div>

@if (Model.dateOfYear != null)
{
    @if (false) // Loading circle
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }

    @if (Convert.ToBoolean(Configuration["Board:Alerts"])) // Alerts
    {
        @foreach (var item in Model.alerts.alertMessages)
        {
            <div class="alert alert-@item.type" role="alert">
                @item.message
            </div>
        }
    }

    @if (Convert.ToBoolean(Configuration["Board:Exams"])) // Klausuren
    {
        <h2>@Localizer["Exams.Title"]</h2>
        <hr />

        <div class="vtp-table">
            @foreach (var table in Model.exams.examTables)
            {
                <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col" colspan="5">@Model.dayOfWeek, @Model.dateOfYear</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Block</td>
                        <td colspan="5">@table.block</td>
                    </tr>
                    <tr>
                        <td scope="row">Kurs</td>
                        @foreach (var examClass in table.classes)
                        {
                            <td>@examClass.name</td>
                        }
                    </tr>
                    <tr>
                        <td scope="row">Fachlehrer</td>
                        @foreach (var examClass in table.classes)
                        {
                            <td>@examClass.teacher</td>
                        }
                    </tr>
                    <tr>
                        <td scope="row">Zahl</td>
                        @foreach (var examClass in table.classes)
                        {
                            <td>@examClass.count</td>
                        }
                    </tr>
                    <tr>
                        <td scope="row">Raum</td>
                        @foreach (var examClass in table.classes)
                        {
                            <td>@examClass.room</td>
                        }
                    </tr>
                </tbody>
            </table>
            }
        </div>
    }

    @if (Convert.ToBoolean(Configuration["Board:Representations"])) // Vertretungsplan
    {
        <h2>@Localizer["Representations.Title"]</h2>
        <hr />

        <div class="vtp-table">
            @foreach (var table in Model.representations.teacherTables)
            {
                <h4>@table.name</h4>

                <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Stunde</th>
                        <th scope="col">Kurs</th>
                        <th scope="col">Vertretender Lehrer</th>
                        <th scope="col">Raum</th>
                        <th scope="col">Bemerkung</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacherHour in table.hours)
                    {
                        <tr>
                            <th scope="row">@teacherHour.hour</th>
                            <td>@teacherHour.className</td>
                            <td>@teacherHour.representingTeacherName</td>
                            <td>@teacherHour.room</td>
                            <td>@teacherHour.note</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            
        </div>
    }
}
